/* Padding */
.th-p-0 {
  padding: 0;
}
.th-pb-0 {
  padding-bottom: 0;
}
.th-p-5 {
  padding: 5px;
}
.th-p-10 {
  padding: 10px;
}
.th-p-15 {
  padding: 15px;
}
.th-p-20 {
  padding: 20px;
}
.th-p-25 {
  padding: 25px;
}
.th-p-30 {
  padding: 30px;
}
.th-p-35 {
  padding: 35px;
}
.th-p-40 {
  padding: 40px;
}
.th-p-45 {
  padding: 45px;
}
.th-p-50 {
  padding: 50px;
}
.th-p-55 {
  padding: 55px;
}
.th-p-60 {
  padding: 60px;
}
.th-p-65 {
  padding: 65px;
}
.th-p-70 {
  padding: 70px;
}
.th-p-75 {
  padding: 75px;
}
.th-p-80 {
  padding: 80px;
}
.th-p-85 {
  padding: 85px;
}
.th-p-90 {
  padding: 90px;
}
.th-p-95 {
  padding: 95px;
}
.th-p-100 {
  padding: 100px;
}
/* Padding Right */
.th-pr-5 {
  padding-right: 5px;
}
.th-pr-10 {
  padding-right: 10px;
}
.th-pr-15 {
  padding-right: 15px;
}
.th-pr-20 {
  padding-right: 20px;
}
.th-pr-25 {
  padding-right: 25px;
}
.th-pr-30 {
  padding-right: 30px;
}
.th-pr-35 {
  padding-right: 35px;
}
.th-pr-40 {
  padding-right: 40px;
}
.th-pr-45 {
  padding-right: 45px;
}
.th-pr-50 {
  padding-right: 50px;
}
.th-pr-55 {
  padding-right: 55px;
}
.th-pr-60 {
  padding-right: 60px;
}
.th-pr-65 {
  padding-right: 65px;
}
.th-pr-70 {
  padding-right: 70px;
}
.th-pr-75 {
  padding-right: 75px;
}
.th-pr-80 {
  padding-right: 80px;
}
.th-pr-85 {
  padding-right: 85px;
}
.th-pr-90 {
  padding-right: 90px;
}
.th-pr-95 {
  padding-right: 95px;
}
.th-pr-100 {
  padding-right: 100px;
}
/* Padding Left */
.th-pl-5 {
  padding-left: 5px;
}
.th-pl-10 {
  padding-left: 10px;
}
.th-pl-15 {
  padding-left: 15px;
}
.th-pl-20 {
  padding-left: 20px;
}
.th-pl-25 {
  padding-left: 25px;
}
.th-pl-30 {
  padding-left: 30px;
}
.th-pl-35 {
  padding-left: 35px;
}
.th-pl-40 {
  padding-left: 40px;
}
.th-pl-45 {
  padding-left: 45px;
}
.th-pl-50 {
  padding-left: 50px;
}
.th-pl-55 {
  padding-left: 55px;
}
.th-pl-60 {
  padding-left: 60px;
}
.th-pl-65 {
  padding-left: 65px;
}
.th-pl-70 {
  padding-left: 70px;
}
.th-pl-75 {
  padding-left: 75px;
}
.th-pl-80 {
  padding-left: 80px;
}
.th-pl-85 {
  padding-left: 85px;
}
.th-pl-90 {
  padding-left: 90px;
}
.th-pl-95 {
  padding-left: 95px;
}
.th-pl-100 {
  padding-left: 100px;
}
/* Padding Top */
.th-pt-5 {
  padding-top: 5px;
}
.th-pt-10 {
  padding-top: 10px;
}
.th-pt-15 {
  padding-top: 15px;
}
.th-pt-20 {
  padding-top: 20px;
}
.th-pt-25 {
  padding-top: 25px;
}
.th-pt-30 {
  padding-top: 30px;
}
.th-pt-35 {
  padding-top: 35px;
}
.th-pt-40 {
  padding-top: 40px;
}
.th-pt-45 {
  padding-top: 45px;
}
.th-pt-50 {
  padding-top: 50px;
}
.th-pt-55 {
  padding-top: 55px;
}
.th-pt-60 {
  padding-top: 60px;
}
.th-pt-65 {
  padding-top: 65px;
}
.th-pt-70 {
  padding-top: 70px;
}
.th-pt-75 {
  padding-top: 75px;
}
.th-pt-80 {
  padding-top: 80px;
}
.th-pt-85 {
  padding-top: 85px;
}
.th-pt-90 {
  padding-top: 90px;
}
.th-pt-95 {
  padding-top: 95px;
}
.th-pt-100 {
  padding-top: 100px;
}

/* Padding Bottom */
.th-pb-5 {
  padding-bottom: 5px;
}
.th-pb-10 {
  padding-bottom: 10px;
}
.th-pb-15 {
  padding-bottom: 15px;
}
.th-pb-20 {
  padding-bottom: 20px;
}
.th-pb-25 {
  padding-bottom: 25px;
}
.th-pb-30 {
  padding-bottom: 30px;
}
.th-pb-35 {
  padding-bottom: 35px;
}
.th-pb-40 {
  padding-bottom: 40px;
}
.th-pb-45 {
  padding-bottom: 45px;
}
.th-pb-50 {
  padding-bottom: 50px;
}
.th-pb-55 {
  padding-bottom: 55px;
}
.th-pb-60 {
  padding-bottom: 60px;
}
.th-pb-65 {
  padding-bottom: 65px;
}
.th-pb-70 {
  padding-bottom: 70px;
}
.th-pb-75 {
  padding-bottom: 75px;
}
.th-pb-80 {
  padding-bottom: 80px;
}
.th-pb-85 {
  padding-bottom: 85px;
}
.th-pb-90 {
  padding-bottom: 90px;
}
.th-pb-95 {
  padding-bottom: 95px;
}
.th-pb-100 {
  padding-bottom: 100px;
}
/* Padding Right & Left */
.th-px-5 {
  padding: 0 5px;
}
.th-px-10 {
  padding: 0 10px;
}
.th-px-15 {
  padding: 0 15px;
}
.th-px-20 {
  padding: 0 20px;
}
.th-px-25 {
  padding: 0 25px;
}
.th-px-30 {
  padding: 0 30px;
}
.th-py-35 {
  padding: 0 35px;
}
.th-px-40 {
  padding: 0 40px;
}
.th-px-45 {
  padding: 0 45px;
}
.th-px-50 {
  padding-bottom: 0 50px;
}
.th-px-55 {
  padding: 0 55px;
}
.th-px-60 {
  padding: 0 60px;
}
.th-px-65 {
  padding: 0 65px;
}
.th-px-70 {
  padding: 0 70px;
}
.th-px-75 {
  padding: 0 75px;
}
.th-px-80 {
  padding: 0 80px;
}
.th-px-85 {
  padding: 0 85px;
}
.th-px-90 {
  padding: 0 90px;
}
.th-px-95 {
  padding: 0 95px;
}
.th-px-100 {
  padding: 0 100px;
}

/* Padding Top & Bottom */

.th-py-5 {
  padding: 5px 0;
}
.th-py-10 {
  padding: 10px 0;
}
.th-py-15 {
  padding: 15px 0;
}
.th-py-20 {
  padding: 20px 0;
}
.th-py-25 {
  padding: 25px 0;
}
.th-py-30 {
  padding: 30px 0;
}
.th-py-35 {
  padding: 35px 0;
}
.th-py-40 {
  padding: 40px 0;
}
.th-py-45 {
  padding: 45px 0;
}
.th-py-50 {
  padding: 50px 0;
}
.th-py-55 {
  padding: 55px 0;
}
.th-py-60 {
  padding: 60px 0;
}
.th-py-65 {
  padding: 65px 0;
}
.th-py-70 {
  padding: 70px 0;
}
.th-py-75 {
  padding: 75px 0;
}
.th-py-80 {
  padding: 80px 0;
}
.th-py-85 {
  padding: 85px 0;
}
.th-py-90 {
  padding: 90px 0;
}
.th-py-95 {
  padding: 95px 0;
}
.th-py-100 {
  padding: 100px 0;
}

/* Margin */
.th-m-0 {
  margin: 0;
}
.th-m-5 {
  margin: 5px;
}
.th-m-10 {
  margin: 10px;
}
.th-m-15 {
  margin: 15px;
}
.th-m-20 {
  margin: 20px;
}
.th-m-25 {
  margin: 25px;
}
.th-m-30 {
  margin: 30px;
}
.th-m-35 {
  margin: 35px;
}
.th-m-40 {
  margin: 40px;
}
.th-m-45 {
  margin: 45px;
}
.th-m-50 {
  margin: 50px;
}
.th-m-55 {
  margin: 55px;
}
.th-m-60 {
  margin: 60px;
}
.th-m-65 {
  margin: 65px;
}
.th-m-70 {
  margin: 70px;
}
.th-m-75 {
  margin: 75px;
}
.th-m-80 {
  margin: 80px;
}
.th-m-85 {
  margin: 85px;
}
.th-m-90 {
  margin: 90px;
}
.th-m-95 {
  margin: 95px;
}
.th-m-100 {
  margin: 100px;
}
/* Margin Right */
.th-mr-5 {
  margin-right: 5px;
}
.th-mr-10 {
  margin-right: 10px;
}
.th-mr-15 {
  margin-right: 15px;
}
.th-mr-20 {
  margin-right: 20px;
}
.th-mr-25 {
  margin-right: 25px;
}
.th-mr-30 {
  margin-right: 30px;
}
.th-mr-35 {
  margin-right: 35px;
}
.th-mr-40 {
  margin-right: 40px;
}
.th-mr-45 {
  margin-right: 45px;
}
.th-mr-50 {
  margin-right: 50px;
}
.th-mr-55 {
  margin-right: 55px;
}
.th-mr-60 {
  margin-right: 60px;
}
.th-mr-65 {
  margin-right: 65px;
}
.th-mr-70 {
  margin-right: 70px;
}
.th-mr-75 {
  margin-right: 75px;
}
.th-mr-80 {
  margin-right: 80px;
}
.th-mr-85 {
  margin-right: 85px;
}
.th-mr-90 {
  margin-right: 90px;
}
.th-mr-95 {
  margin-right: 95px;
}
.th-mr-100 {
  margin-right: 100px;
}
/* Margin Left */
.th-ml-5 {
  margin-left: 5px;
}
.th-ml-10 {
  margin-left: 10px;
}
.th-ml-15 {
  margin-left: 15px;
}
.th-ml-20 {
  margin-left: 20px;
}
.th-ml-25 {
  margin-left: 25px;
}
.th-ml-30 {
  margin-left: 30px;
}
.th-ml-35 {
  margin-left: 35px;
}
.th-ml-40 {
  margin-left: 40px;
}
.th-ml-45 {
  margin-left: 45px;
}
.th-ml-50 {
  margin-left: 50px;
}
.th-ml-55 {
  margin-left: 55px;
}
.th-ml-60 {
  margin-left: 60px;
}
.th-ml-65 {
  margin-left: 65px;
}
.th-ml-70 {
  margin-left: 70px;
}
.th-ml-75 {
  margin-left: 75px;
}
.th-ml-80 {
  margin-left: 80px;
}
.th-ml-85 {
  margin-left: 85px;
}
.th-ml-90 {
  margin-left: 90px;
}
.th-ml-95 {
  margin-left: 95px;
}
.th-ml-100 {
  margin-left: 100px;
}
/* Margin Top */
.th-mt-5 {
  margin-top: 5px;
}
.th-mt-10 {
  margin-top: 10px;
}
.th-mt-15 {
  margin-top: 15px;
}
.th-mt-20 {
  margin-top: 20px;
}
.th-mt-25 {
  margin-top: 25px;
}
.th-mt-30 {
  margin-top: 30px;
}
.th-mt-35 {
  margin-top: 35px;
}
.th-mt-40 {
  margin-top: 40px;
}
.th-mt-45 {
  margin-top: 45px;
}
.th-mt-50 {
  margin-top: 50px;
}
.th-mt-55 {
  margin-top: 55px;
}
.th-mt-60 {
  margin-top: 60px;
}
.th-mt-65 {
  margin-top: 65px;
}
.th-mt-70 {
  margin-top: 70px;
}
.th-mt-75 {
  margin-top: 75px;
}
.th-mt-80 {
  margin-top: 80px;
}
.th-mt-85 {
  margin-top: 85px;
}
.th-mt-90 {
  margin-top: 90px;
}
.th-mt-95 {
  margin-top: 95px;
}
.th-mt-100 {
  margin-top: 100px;
}

/* Margin Bottom */
.th-mb-5 {
  margin-bottom: 5px;
}
.th-mb-10 {
  margin-bottom: 10px;
}
.th-mb-15 {
  margin-bottom: 15px;
}
.th-mb-20 {
  margin-bottom: 20px;
}
.th-mb-25 {
  margin-bottom: 25px;
}
.th-mb-30 {
  margin-bottom: 30px;
}
.th-mb-35 {
  margin-bottom: 35px;
}
.th-mb-40 {
  margin-bottom: 40px;
}
.th-mb-45 {
  margin-bottom: 45px;
}
.th-mb-50 {
  margin-bottom: 50px;
}
.th-mb-55 {
  margin-bottom: 55px;
}
.th-mb-60 {
  margin-bottom: 60px;
}
.th-mb-65 {
  margin-bottom: 65px;
}
.th-mb-70 {
  margin-bottom: 70px;
}
.th-mb-75 {
  margin-bottom: 75px;
}
.th-mb-80 {
  margin-bottom: 80px;
}
.th-mb-85 {
  margin-bottom: 85px;
}
.th-mb-90 {
  margin-bottom: 90px;
}
.th-mb-95 {
  margin-bottom: 95px;
}
.th-mb-100 {
  margin-bottom: 100px;
}
/* Margin Left & Right */
.th-mx-5 {
  margin: 0 5px;
}
.th-mx-10 {
  margin: 0 10px;
}
.th-mx-15 {
  margin: 0 15px;
}
.th-mx-20 {
  margin: 0 20px;
}
.th-mx-25 {
  margin: 0 25px;
}
.th-mx-30 {
  margin: 0 30px;
}
.th-mx-35 {
  margin: 0 35px;
}
.th-mx-40 {
  margin: 0 40px;
}
.th-mx-45 {
  margin: 0 45px;
}
.th-mx-50 {
  margin: 0 50px;
}
.th-mx-55 {
  margin: 0 55px;
}
.th-mx-60 {
  margin: 0 60px;
}
.th-mx-65 {
  margin: 0 65px;
}
.th-mx-70 {
  margin: 0 70px;
}
.th-mx-75 {
  margin: 0 75px;
}
.th-mx-80 {
  margin: 0 80px;
}
.th-mx-85 {
  margin: 0 85px;
}
.th-mx-90 {
  margin: 0 90px;
}
.th-mx-95 {
  margin: 0 95px;
}
.th-mx-100 {
  margin: 0 100px;
}

/* Margin Top & Bottom */

.th-my-5 {
  margin: 5px 0;
}
.th-my-10 {
  margin: 10px 0;
}
.th-my-15 {
  margin: 15px 0;
}
.th-my-20 {
  margin: 20px 0;
}
.th-my-25 {
  margin: 25px 0;
}
.th-my-30 {
  margin: 30px 0;
}
.th-my-35 {
  margin: 35px 0;
}
.th-my-40 {
  margin: 40px 0;
}
.th-my-45 {
  margin: 45px 0;
}
.th-my-50 {
  margin: 50px 0;
}
.th-my-55 {
  margin: 55px 0;
}
.th-my-60 {
  margin: 60px 0;
}
.th-my-65 {
  margin: 65px 0;
}
.th-my-70 {
  margin: 70px 0;
}
.th-my-75 {
  margin: 75px 0;
}
.th-my-80 {
  margin: 80px 0;
}
.th-my-85 {
  margin: 85px 0;
}
.th-my-90 {
  margin: 90px 0;
}
.th-my-95 {
  margin: 95px 0;
}
.th-my-100 {
  margin: 100px 0;
}
