* {
  margin: 0;
  box-sizing: border-box;
}
/* color varible */
:root {
  --primary-color: #7b60fb;
  --primary-color-deep: #5c3bfa;
  --primary-color-light: #e9e7f6;
  --primary-shadow-color: #e0d4ff;
  --color-light-rbga: rgba(123, 96, 251, 0.2);
  --color-white: #fff;
  --color-white-light: #f5f5f5;
  --color-blue: #3684f9;
  --color-blue-rbga: rgba(54, 132, 249, 0.2);
  --color-purple: #7971ff;
  --color-purple-rbga: rgba(121, 113, 255, 0.2);
  --color-rose: #ff6e68;
  --color-rose-rbga: rgba(255, 110, 104, 0.2);
  --color-pink: #ff5c88;
  --color-pink-rbga: rgba(255, 92, 136, 0.2);
  --color-magenta: #bb61ff;
  --color-magenta-rbga: rgba(187, 97, 255, 0.2);
  --color-black: #000;
  --color-black-light: #6c6c6c;
  --color-parpal-light-rgba: rgba(67, 177, 230, 0.2);
  --heading-font-family: "Kanit", sans-serif;
  --heading-font-size: 3rem;
  --heading-font-weight: 700;
  --heading-font-weight-thin: 500;
  --paragraph-font-family: "Catamaran", sans-serif;
  --paragraph-font-size: 1rem;
  --paragrahp-line-height: 1.1rem;
  --paragraph-font-weight: 500;
  --paragragh-font-color: var(--color-black);
  --link-color: var(--secondary-color);
}
/*=============================
  Common CSS start
  ===============================*/
body {
  line-height: 1.5;
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);

  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-weight: var(--heading-font-weight);
}
h4,
h5,
h6 {
  font-weight: var(--heading-font-weight-thin);
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1.1rem;
}
body.scroll_hide {
  overflow-y: hidden;
}
a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
a,
span,
small {
  display: inline-block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--hover-color);
}
a,
button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 03s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
  color: inherit;
}
a:focus,
.btn:focus,
button:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}
p {
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--paragraph-color);
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

*::-moz-selection,
::-moz-selection,
::selection {
  background-color: var(--primary-color);
  text-shadow: none;
}
.section-title {
  font-size: 3rem;
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--color-black);
}
.section-sub-title {
  font-size: 1.25rem;
  font-family: var(--body-font-family);
  color: var(--primary-bg-color);
}
.section-paragraph {
  color: var(--color-black-light);
}
tbody,
td,
tfoot,
th,
thead,
tr {
  vertical-align: middle;
}
svg {
  width: 1.25rem;
}
/* Background color */

.color-secondary {
  color: var(--secondary-color);
}
.th-bg-primary {
  background-color: var(--primary-color);
}

.th-bg-primary-deep {
  background-color: var(--primary-color-deep);
}

.th-bg-primary-light {
  background-color: var(--primary-color-light);
}
.th-bg-light-rbga {
  background-color: var(--color-light-rbga);
}
.th-bg-secondary {
  background-color: var(--secondary-color);
}
.th-bg-secondary-deep {
  background-color: var(--secondary-color-deep);
}
.th-bg-white {
  background-color: var(--color-white);
}
.th-bg-white-light {
  background-color: var(--color-white-light);
}

/* color */
.th-color-primary {
  color: var(--primary-color);
}

.th-color-secondry {
  color: var(--secondary-color);
}
.th-color-secondry-deep {
  color: var(--secondary-color-deep);
}
.th-color-white {
  color: var(--color-white);
}
.th-color-black {
  color: var(--color-black);
}
.th-color-black-light {
  color: var(--color-black-light);
}

/*=============================
  Header Section
  ===============================*/
header {
  background-color: var(--color-white);
}
.reg-btn {
  border: 1px solid #7b60fb;
  color: #7b60fb !important;

  border-radius: 10px;
}

/*=============================
  Hero Section
  ===============================*/

.hero .front-form {
  width: 100%;
  gap: 1%;
}
.hero .front-form input {
  width: 85%;
  padding: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  outline: none;
}
.hero .front-form button {
  width: 14%;
  border: none;
  background-color: var(--primary-color);
  color: var(--color-white);
  border-radius: 5px;
}
/*=============================
  Feature Section
  ===============================*/
.feature {
  background-color: #f5f5f5;
}
.feature .card .card-icon {
  width: 3rem;
  border-radius: 1rem;
  background-color: var(--color-parpal-light-rgba);
  padding: 10px 15px;
}
.feature .card {
  border: none;
  background: var(--color-white);
}
.feature .card .card-icon svg {
  fill: #43b1e6;
}
.fill-current {
  fill: currentColor;
}
.feature .item-2 .card .card-icon {
  background-color: var(--color-blue-rbga);
}
.feature .item-2 .card .card-icon svg {
  fill: var(--color-blue);
}
.feature .item-3 .card .card-icon {
  background-color: var(--color-purple-rbga);
}
.feature .item-3 .card .card-icon svg {
  fill: var(--color-purple);
}
.feature .item-4 .card .card-icon {
  background-color: var(--color-rose-rbga);
}
.feature .item-4 .card .card-icon svg {
  fill: var(--color-rose);
}
.feature .item-5 .card .card-icon {
  background-color: var(--color-pink-rbga);
}
.feature .item-5 .card .card-icon svg {
  fill: var(--color-pink);
}
.feature .item-6 .card .card-icon {
  background-color: var(--color-magenta-rbga);
}
.feature .item-6 .card .card-icon svg {
  fill: var(--color-magenta);
}
/*=============================
  Link Management Section
  ===============================*/
.link-management .icon-box {
  width: 3rem;
}
.link-management .icon-box svg {
  width: 3rem;
  background-color: var(--color-light-rbga);
  padding: 15px 10px;
  border-radius: 10px;
  fill: var(--primary-color);
}
.link-management .link-items {
  margin-top: -25px;
  margin-left: -25px;
  margin-right: 20px;
}
.link-items .item {
  background-color: var(--color-white);
  margin-top: 20px;
}
.link-items .item:first-child {
  margin-top: 0;
}
.link-items .item .link-icon {
  width: 1.5rem;
}
.link-items .item .link-icon svg {
  fill: var(--primary-color);
}
/*=============================
  Statistics Section
  ===============================*/

.statistics .statistic-lists .list-item .icon {
  background-color: var(--color-light-rbga);
  padding: 5px 10px;
  border-radius: 10px;
}
.statistics .statistic-lists .list-item svg {
  width: 1rem;
  fill: rgba(123, 96, 251, 0.8);
}
.statistics .link-items {
  margin-left: 15px;
  margin-top: -15px;
  margin-right: -15px;
}
.statistics .link-items {
  margin-bottom: 15px;
}
/*=============================
  Integrations Section
  ===============================*/
.integrations ul li {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.integrations ul li img {
  width: 2.5rem;
}

/*=============================
  Pricing Section
  ===============================*/
.pricing .card .card-body .card-text button {
  background-color: var(--primary-color);
  color: var(--color-white);
  border-radius: 5px;
  border: none;
  width: 80%;
  padding: 5px 0;
  text-transform: uppercase;
}
.pricing .card .card-body .card-text ul li {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.pricing .card .card-body .package-name {
  font-size: 10px !important;
}

/*=============================
  Footer Section
  ===============================*/

/*=============================
  Login Section
  ===============================*/
.login .right-side {
  background: url("../image/login.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.login button:hover {
  background-color: var(--primary-color-deep);
}
/*=============================
  Register Section
  ===============================*/
.register .right-side {
  background: url("../image/login.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.register button:hover {
  background-color: var(--primary-color-deep);
}
